*{
    background-color: rgb(250, 187, 13);
}

.c1{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(219, 134, 174);
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}

.c2{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(219, 134, 174);
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}


.c3{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(219, 134, 174);
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}


.c4{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(219, 134, 174);
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}


.c5{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(219, 134, 174);
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}

.c6{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(219, 134, 174);
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}

.c7{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(219, 134, 174);
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}

.c8{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(219, 134, 174);
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}

.c9{
    flex-wrap: wrap;
    color:rgb(11, 78, 2);
    background-color: rgb(219, 134, 174);
    
    font-size:25px;
    margin:30px;
    padding:25px;
    border-radius:20px;

}
